@-moz-document regexp("(https?)://(?!forums)\\w+\\.gta5-mods\\.com.*") {
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #c1c1c1;
	background-color: #0E0E0E !important
}
.modal-dialog .modal-content {
	color: #c1c1c1;
	background-color: #0E0E0E;
}
.modal-dialog {
	color: #000;
}
.bootbox-close-button {
	color: #fff !important;
}
.popover {
	color: #333;
}
body.home #content {
	background: #0E0E0E;
}
#content {
	padding-top: 45px;
	min-height: 450px;
	background: #0E0E0E;
}
.panel {
	margin-bottom: 20px;
	background-color: rgb(27, 27, 27);
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-group > .panel > .panel-heading,
.pull-right.well.well-sm,
#footer ul li a:hover {
	background-color: #333;
}
.panel.panel-faded {
	background: rgba(51, 51, 51, 0.8);
}
#featured .main {
	display: none;
	color: #fff;
	padding: 4px;
	background-color: rgb(27, 27, 27);
	border: 1px solid #21A547;
	transition: border 0.2s ease-in-out;
}
#navigation > li .label-category > span {
	display: block;
	background-color: #1B1B1B;
	color: #1FA145;
}
#navigation > li.active .label-category > span {
	background-color: #28AC4D;
	color: #333;
}
body.category #navigation > li.active .label-category {
	border-left: 0px;
	border-right: 0px;
}
.btn-default,
.btn.btn-o-primary,
.btn.btn-o-info,
.btn.btn-o-danger {
	color: #28AC4D;
	background-color: #1B1B1B;
	border-color: #28AC4D;
}
.btn.btn-o-info:focus,
.btn.btn-o-info:active,
.btn.btn-o-info:hover {
	border-color: #25d85b;
	color: #25d85b;
}
.btn.btn-o-info.active,
.btn.btn-o-info.active:hover,
.btn.btn-o-info.active:focus {
	border-color: #25d85b;
	background-color: #25d85b;
	color: #fff;
}
.file-list .file-list-obj .details .name span {
	color: #fff;
}
.file-list .file-list-obj .details .name span:hover,
.file-list .file-list-obj .details .name span:focus {
	color: #26AA4B;
}
.file-list .file-list-obj .details .author {
	display: block;
	font-weight: 200;
	color: #0093FF;
	font-style: italic;
	margin-bottom: 7px;
}
.file-list .file-list-obj:hover {
	border-color: #26AA4B;
}
.file-list .file-list-obj > .preview.empty {
	background-color: rgb(31, 31, 31);
}
span > .fa-download,
span > .fa-thumbs-up,
span > .fa-star,
span > .fa-star-o,
span > .fa-star-half-o {
	color: #26AA4B;
}
#tag-list > div > a .label {
	background-color: #333 !important;
}
.dropdown-menu a:hover,
.dropdown-menu a:focus,
#notifications-dropdown .dropdown-menu .dropdown-footer a:hover,
#notifications-dropdown .dropdown-menu .dropdown-footer a:focus {
	color: #333 !important;
}
#notifications-dropdown .dropdown-menu a:hover,
#notifications-dropdown .dropdown-menu a:focus {
	color: #26AA4B !important;
}
.dropdown-menu,
.dropdown-menu > li > a {
	background-color: #333;
	color: #eee !important;
}
.form-inline {
	background-color: #292929;
}
.form-control {
	background-color: #292929 !important;
	color: #fff !important;
}
#comments .media .media-body .mention,
#featured-comment .media .media-body .comment-text a.mention {
	font-weight: bold;
	color: #2fd95f !important;
}
.popover,
.popover-title,
#select-2 {
	background-color: #333;
	color: #eee;
}
.select2-selection,
.select2-results,
.select2-search {
	background-color: #333 !important;
	color: #eee;
}
.select2-results__option[aria-selected="true"] {
	color: #333;
}
.select2-selection__rendered {
	color: #eee !important;
}
#comments .media .media-body .comment-text.comment-limited:after,
#featured-comment .media .media-body .comment-text.comment-limited:after,
.read-more-gradient {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(27, 27, 27) 99%);
}
.read-more-button {
	background: rgb(27, 27, 27);
}
.select2-selection__choice {
	color: #424242;
	/* was #333 */
}
.well {
	background-color: rgb(27, 27, 27);
}
#tag-list {
	background-color: #0E0E0E !important;
	border: 1px solid #0E0E0E !important;
}
.panel-body > #tag-list {
	background-color: #1B1B1B !important;
	border: 1px solid #1B1B1B !important;
}
#footer,
.file_download_form > .panel > .panel-body {
	background-color: #1B1B1B !important;
	border: 1px solid #333;
	border-radius: 4px;
}
.comment-rating,
.star-rating {
	color: #eee !important;
}
.panel-default > .panel-heading {
	color: #c1c1c1;
	background-color: #1b1b1b;
}
.dropdown-menu {
	color: #333333;
}
.table-hover > tbody > tr:hover {
	background-color: #333;
}
.pagination > li > a,
.pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #20ba4e;
	background-color: #1B1B1B;
	border: 1px solid #20BA4E;
	margin-left: -1px;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #777777;
	background-color: #1B1B1B;
	border-color: #20BA4E;
	cursor: not-allowed;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #1FA145;
	background-color: #222;
}
.user-panel .user-social a {
	color: #c1c1c1;
}
.input-group > .input-group-addon {
	background-color: #333;
	color: #eee;
}
#featured ul li a {
	display: block;
	position: relative;
	padding: 3px;
	background-color: #1B1B1B;
	border: 1px solid #21A547;
	transition: border 0.2s ease-in-out, opacity 0.1s ease-in;
	color: #000;
	opacity: 0.65;
}
@media (max-width: 767px) {
	#main-nav .dropdown-menu {
		background-color: #333;
	}
}
}